/* My Settings */

h1 {
    font-family: "bree", sans-serif;
    font-style: normal;
    font-weight: 700;
}

#header h1 #pyhead {
    color: #ce8e29;
}

/* Copied from Inspector */

body {
    background: #EAEFF2;
    color: #333;
    font-size: 16px;
    font-family: "bree-serif", serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    line-height: 1.42857143;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

/* More Settings */

a {
    color: #333;
	background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }



/* Navbar Settings */

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;

}