.container {
  height: vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.cell-1 { 
  grid-row: 1; 
  grid-column: 1/4; 
  background: orange;
}
.cell-1 { 
  grid-row: 1; 
  grid-column: 1/4; 
}
.cell-2 { 
  grid-row: 1; 
  grid-column: 1/4; 
}
.cell-2 { 
  grid-row: 1; 
  grid-column: 1/4; 
}