/*CSS Grid*/
.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*grid-template-areas: "div header header"
                        "div div div
                        "main main main"
                        "footer footer footer";*/
}
.cell {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 4rem;
}
/*Header*/
.cell-1 { 
  grid-row: 2; 
  grid-column: 1/4;
  background: orange;
  font-size: 3rem;  
}
/* Logo*/
.cell-2 { 
  grid-row: 1; 
  grid-column: 1/4;
}
/*.cell-2 {
	background: ;
}*/
/*welcome text and picture*/
.cell-3 { 
  grid-row: 3; 
  /*grid-column: 4/4;*/
}
/*main*/
.cell-4 { 
  grid-row: 4; 
  /*grid-column: 4/4*/;
}
/*Footer*/
.cell-5 { 
  grid-row: 5/5; 
  grid-column: 1/5;
  background: black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
color: #220,220,220;
background-color:grey;	
}
a:link {color: #fff; text-decoration:none; font-weight:600;cursor:pointer;}
a:visited {color:#fff; text-decoration:none; font-weight:600;cursor:pointer;}
a:hover {color: #fff; text-decoration:underline; font-weight:600;cursor:pointer;}
a:active {color: #fff; text-decoration:none; font-weight:600;cursor:pointer;}